body {
    background-color: aliceblue;
}

.Home {
    width: auto;
    height: auto;
}

.divcaixes {
    background-color: rgb(220, 220, 220);
    margin: 20px;
    border-color: rgb(255, 255, 255);
    border-width: 8px;
    border-style: solid;
    border-radius: 22px;
    padding: 5px;
    box-shadow: 1px 3px 3px rgb(119, 119, 119);
}

.divnom {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.id {
    color: grey;
    font-size: 20px;
}

.buit {
    width: 10px;
}

.foto {
    max-width: 100px;
}

.divtipus {
    margin: 5px;
    text-transform: capitalize;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}