body {
    background-color: aliceblue;
}

.Ferran {
    height: 85vh;
    width: 100%;
    overflow: scroll;
}

.Jutgol {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 1px;
    margin: 12px;
}

.Home {
    width: 100%;
    max-width: 170px;
    max-height: 210px;
    height: 200px;
    margin-left: 5px;
}

.divcaixes {
    background-color: rgb(220, 220, 220);
    margin: 1px;
    padding: 1px;
    
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: auto;
    min-height: 180px;
    border-radius: 20px;

    border: 1.5px;
    border-style: ridge;
    border-color: rgb(98, 98, 98);
}

.divnom {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 14px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.id {
    color: rgb(230, 230, 230);
    font-size: 14px;
}

.buit {
    width: 10px;
}

.foto {
    max-height: 120px;
    min-height: 120px;
    max-width: 120px;
    margin: -20px;
}

.divtipus {
    margin: 0px;
    text-transform: capitalize;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: auto;
}

.tipus11 {
    width: auto;
    height: auto;
    border-radius: 10px;
    border-color: black;
    border-width: 1px;
    border-style: ridge;
    padding: 3px;
}

